 /**** common Color Variables ****/
$dark-color:       			#000;
$light-color:  	  			#fff;
$primary-color:   			#0e1a35;
$secondary-color: 			#5584ff;
$title-color:   			#8492AF; //$border-color
$header-bg-color: 			#F6F7FA;
$count-bg-color:  			#2c3d65;
$stroke-color:	  			#d4d9e3;
$card-title:      			#43525D;
$panel-body-color:			#F6F7FB;
$tab-collapse-btn-color: 	#9badde;
$menu-border-color: 		#0d172e;
$list-header-color:      	#435780;
$sublist-header-color:		#6d7a95;
$sub-header-color: 			#eff2f9;
$accordian-headerBg-color: 	#f5f8ff;
$bredcrumbBg-color:			#f1f2f7;
$breadcrumb-color:			#8492af;
$modal-header-color: 		#0f1a36;
$blue-text-color:           #5684fe;
$light-button-color:        #9baddd;
$content-bg-color: 			#F6F7FA;
$border-color: #d4dae6;
$text-color: #435780;
$table-head-title-color: #0E1A35;
$label-color: #6d6d6d;
$primary-dark-color:   			#0E1A35;
$count-color :#fff;
$primary-hover-color: #39515f;