<div class="commonAuthCls loginContainer container">
 
	<div class="heading col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="logo col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left"><img src="../../assets/images/logo.png" class="img-responsive"></div>
		<div class="title col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right"><span>Reset Password</span></div>
	</div>   <!--------------- end of heading  --------->
	
	
	<div class="formDetails col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!isResetPasswordLinkInvalid">
		<p class="note">Enter new password</p>
		
		<!--------- Error messages -------->
		<div class="errorMsg" *ngIf="errMsg">
			<p>{{errMsg}}</p>
		</div>
		
		<form class="col-sm-8 col-sm-push-2 text-center" #resetPasswordForm="ngForm" novalidate>
		
		 	<!--------------- New password Field  --------->
			  <div class="form-group" [ngClass]="{'borderRed': (isError && changePassword.invalid )}">
			     
			     <input type="{{inputType}}" name="newPassword" #changePassword="ngModel" [(ngModel)]="resetPasswordData.newPassword"
			      placeholder="{{constants.NEW_PASSWORD}}" class="form-password form-control" id="form-password" minlength="8" maxlength="20" required />
			   
			    <i class="passwordIcon iconLeft"></i> 
			   	<a *ngIf="!newPasswordCheck" (click)="hideShowPassword(inputType,newPasswordCheck,true)"> <i class="eyeCloseIcon iconRight"></i></a>
			    <a *ngIf="newPasswordCheck" (click)="hideShowPassword(inputType,newPasswordCheck,true)"><i class="eyeOpenIcon iconRight"></i> </a>
	
			  </div>
			   <div class="help-block text-left" *ngIf="changePassword.errors && (changePassword.dirty || changePassword.touched || formSubmitted)">
                   <small [hidden]="!changePassword.errors.required" class="text-danger">{{constants.ENTER_PASSWORD}} </small>			                           
               		<small [hidden]="!changePassword.errors.minlength" class="text-danger">{{constants.PASSWORD_LIMIT}} </small>
					<small [hidden]="!changePassword.errors.maxlength" class="text-danger">{{constants.PASSWORD_LIMIT}} </small>
               </div>
			  <!--------------- Confirm password Field  --------->
			  <div class="form-group" [ngClass]="{'borderRed': (isError && confPassword.invalid )}">
			   <input type="{{confirmInputType}}" name="confirmPassword" #confPassword="ngModel" [(ngModel)]="resetPasswordData.confirmPassword"
			    placeholder="{{constants.CONFIRM_PASSWORD}} " class="form-password form-control" id="form-new-password" minlength="8" maxlength="20" required />
								
			    <i class="passwordIcon iconLeft"></i> 
			   	<a *ngIf="!confirmPasswordCheck" (click)="hideShowPassword(confirmInputType,confirmPasswordCheck,false)"> <i class="eyeCloseIcon iconRight"></i></a>
			    <a *ngIf="confirmPasswordCheck" (click)="hideShowPassword(confirmInputType,confirmPasswordCheck,false)"><i class="eyeOpenIcon iconRight"></i> </a>
	
			  </div>
			   <div class="help-block text-left" *ngIf="confPassword.errors && (confPassword.dirty || confPassword.touched || formSubmitted)">
                   <small [hidden]="!confPassword.errors.required" class="text-danger">{{constants.ENTER_PASSWORD}} </small>			                           
               		<small [hidden]="!confPassword.errors.minlength" class="text-danger">{{constants.PASSWORD_LIMIT}} </small>
					<small [hidden]="!confPassword.errors.maxlength" class="text-danger">{{constants.PASSWORD_LIMIT}} </small>
               </div>
			   <!--------------- submit btn  --------->
				 <button type="submit" class="btn commonBtn btn-default" (click)="resetPassword(resetPasswordForm)">{{constants.RESET_PASSWORD}}</button>
				   <img src="../../assets/images/icn_enter.png" class="btnArrowIcon">
				   
				 <!---------------back to login link  ------------->
			 <!--  <div class="text-center link">Back to<a [routerLink]="''"> Login</a></div> -->
			  
		</form>   <!--------------- end of form  --------->
	</div>   <!--------------- end of formDetails  --------->
	
	<div class="formDetails col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="isResetPasswordLinkInvalid">
		<div class="errorMsg errorMsgCls">
			<p class="errorMsgText">{{errMsg}}</p>
		</div>
	</div>
	
</div>  <!--------------- end of commonRegisterCls  --------->