@import '~theme/common';

/********** common classes for Modal *********************/

.modalheader {
	background: #0f1a36;
	border: 0;
	
	h5 {
		color: #fff;
	}

	.titleColor {
		color: #0c1939;
	}
}

.modal-footer {
	text-align: center;
	border-top: 0;
	@include Roboto-Medium;
	margin-bottom: 15px;
	
	.commonBtn,
	.commonBtn:hover, 
	.commonBtn:focus, 
	.commonBtn:active{
		margin: 0;
		padding: 6px 30px;
		min-width: 116px;
    	box-shadow: none;
    	
    	@media (max-width: 767px) {
	    	font-size: 16px;
	   	}
		
		&:first-child {
			background-color: $light-button-color !important; 
		}
	
		&:last-child {
			margin: 0 0 0 10px;
		}
	}
}

.modal-body {
	
	h4 {
		@include Roboto-Medium;
		
		@media (max-width: 767px) {
	    	font-size: 16px;
	   	}
	}
	text-align: center;
}

.passwordGroup {
	
	position: relative;
    margin: 0;
    
    .passwordControl {
    	box-shadow: none;
	    border-radius: 0;
	    border-top: 0;
	    border-left: 0;
	    border-right: 0;
	    padding-left: 5px;	    
    }
    
	.showPasswordBtn {
		position: absolute;
	    top: 7px;
	    right: 8px;
	    width: 20px;
	    height: 20px;
	    border: 0;
	    background-size: contain;
	    padding: 0;
	    
	    &:focus {
	    	outline: 0;
	    }
	}
}

.oldPasswordGroup {
	margin: 15px 0 5px 0;
}

.webServiceError {
	font-size: 14px;
	color: red;
}

.modalHeaderPaddding {
	padding-bottom: 0;
	background: transparent;
	color: #0c1939;
}

.modalBodyPaddding {
	padding-top: 0;
	color: #0c1939;
}

