<div class="modal-header modalheader" [ngClass]="{'modalHeaderPaddding': !saveFlag}">
	<button *ngIf="!saveFlag" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
   </button>
	<h5 class="modal-title text-center modalTitle" [ngClass]="{'h3 titleColor': !saveFlag}">
   		{{titleText}}
    </h5>
</div>
 <div class="modal-body" [ngClass]="{'modalBodyPaddding': !saveFlag}">
 	<div class="webServiceError" *ngIf="saveFlag">{{webServiceError}}</div>
	<form novalidate *ngIf="saveFlag">
	
		<!--------------- old password field  --------->
		  <div class="form-group passwordGroup oldPasswordGroup" [ngClass]="{'borderRed': oldPassword.errors && (oldPassword.dirty || oldPassword.touched || isEmpty)}">
		  	<input type="{{oldInputType}}" #oldPassword="ngModel" [(ngModel)]="changePasswordData.oldPassword" 
		    class="form-control passwordControl" 
		    autocomplete="off" id="oldPassword" name="oldPassword" placeholder="{{constants.OLD_PASSWORD}}" minlength="8" maxlength="20" required>
		    <button class="eyeCloseIcon showPasswordBtn" (click)="hideShowPassword('old')" [ngClass]="{'eyeOpenIcon': oldInputType=='text'}"></button> 		    	            
		  </div>
		  <div class="help-block text-left" *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched || isEmpty)">
                <small [hidden]="!oldPassword.errors.required" class="text-danger">{{constants.OLD_PASSWORD_ERROR}} </small>			                           
           		<small [hidden]="!oldPassword.errors.minlength" class="text-danger">{{constants.OLD_PASSWORD_LIMIT}} </small>
				<small [hidden]="!oldPassword.errors.maxlength" class="text-danger">{{constants.OLD_PASSWORD_LIMIT}} </small>
          </div>		  		  		  
		  
		 <!--------------- confirm password field  --------->
		  <div class="form-group passwordGroup" [ngClass]="{'borderRed': newPassword.errors && (newPassword.dirty || newPassword.touched || isEmpty)}">
		  	<input type="{{newInputType}}" #newPassword="ngModel" [(ngModel)]="changePasswordData.newPassword" 
		    class="form-control passwordControl" 
		    autocomplete="off" id="newPassword" name="newPassword" placeholder="{{constants.NEW_PASSWORD}}" minlength="8" maxlength="20" required>
		    <button class="eyeCloseIcon showPasswordBtn" (click)="hideShowPassword('new')" [ngClass]="{'eyeOpenIcon': newInputType=='text'}"></button> 		    	        	
		  </div>
		  <div class="help-block text-left" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched || isEmpty)">
              <small [hidden]="!newPassword.errors.required" class="text-danger">{{constants.NEW_PASSWORD_ERROR}} </small>			                           
           	  <small [hidden]="!newPassword.errors.minlength" class="text-danger">{{constants.NEW_PASSWORD_LIMIT}} </small>
			  <small [hidden]="!newPassword.errors.maxlength" class="text-danger">{{constants.NEW_PASSWORD_LIMIT}} </small>
          </div>
		  		  		  
	</form>
	
	<h4 *ngIf="!saveFlag">{{constants.PASSWORD_SUCCESS_TEXT}} </h4>
	
 </div>
 <div class="modal-footer">
	   <button type="button" class="btn commonBtn" (click)="cancel()">{{close}}</button>
	   <button type="button" class="btn commonBtn" *ngIf="saveFlag" (click)="savePassword()">{{save}}</button>
 </div>
