 /**** common Color Variables ****/
$dark-color:       			#000;
$light-color:  	  			#fff;
$primary-color:   			#0e1a35;
$secondary-color: 			#E3671c;
$title-color:   			#6d6d6d; //$border-color
$header-bg-color: 			#F7F5F0;
$count-bg-color:  			#fff;
$stroke-color:	  			#d4d9e3;
$card-title:      			#43525D;
$panel-body-color:			rgba(247, 245, 240,0.5);
$tab-collapse-btn-color: 	#E3671c;
$menu-border-color: 		#0d172e;
$list-header-color:      	#435780;
$sublist-header-color:		#6d7a95;
$sub-header-color: 			#eff2f9;
$accordian-headerBg-color: 	#f7f5f0;
$bredcrumbBg-color:			#f1f2f7;
$breadcrumb-color:			#6D6D6D;
$modal-header-color: 		#0f1a36;
$blue-text-color:           #5684fe;
$light-button-color:        #e6a57d;
$content-bg-color: 			#fff;
$border-color: #e3ddd4;
$text-color: #0a3555;
$table-head-title-color: #0a3555;
$label-color: #0a3555;
$primary-dark-color:   #072537;
$count-color: #0a3555;
$primary-hover-color: #353535;
